.E-title, .E-author {
  margin-bottom: -10px;
}
.E-title input, .E-author input {
  width: 100%;
  border: 0px;
}
.E-title input {
  font-weight: bold;
}
.E-author input {
  color: #ccc;
  height: 20px;
}
.V-author {
  color: #ccc;
}
input:focus, *:focus {
  outline: none;
}
.editor {
  width: 100%;
  border: 0px;
}
#rowtop {
  padding-top: 25px;
}
input[type=submit] {
  color: #111;
  border:2px solid #333;
  border-radius:16px;
}
#pass {
  width: 30px;
}
.ql-editor {
  paddin: 0 !important;
}
.ql-container {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
